@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://a.cdn-hotels.com/gdcs/production8/d938/57e2fbb3-bf97-4ec3-a6e8-c370e5b42ac5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  max-width: 420px;
  min-height: 96vh;
  margin: 0 auto;
}

button {
  font-size: 2rem;
  border: 1px solid #333;
  cursor: pointer;
}
.modifiers button {
  background-color: #ccc;
}
.operations button {
  background-color: rgba(0, 152, 254, 0.6);
  width: 100px;
}
.digits button {
  background-color: rgba(253, 253, 253, 0.8);
}

/* All things Grid, Flexbox, Box Alignment */
.wrapper,
.subgrid {
  display: grid;
}
.wrapper {
  grid-template-areas:
    "total total total total"
    "modif modif modif oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper";
  grid-auto-columns: 1fr;
}
.show-input {
  grid-area: total;
  color: #fff;
}
.modifiers {
  grid-area: modif;
}
.operations {
  grid-area: oper;
}
.digits {
  grid-area: digit;
}

.show-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}

.modifiers {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 0 26%;
}
.modifiers button:hover {
  background-color: #7e7e7e;
}
.digits button:hover {
  background-color: #b2b2b2;
}
.operations button:hover {
  background-color: rgb(255, 206, 114);
}
